<h1>New url_info</h1>

<% form_for(@url_info) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :href %><br />
    <%= f.text_field :href %>
  </p>
  <p>
    <%= f.label :clicks %><br />
    <%= f.text_field :clicks %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', url_infos_path %>